*{
    background-color: darkgrey;
    
}
body{
    background-color: black;
}
.container{
    color: aqua;
    align-content: center;
    align-items: center;
}
header{
    align-items: center;
    margin-left: 100px;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    cursor: pointer;

}
.card img{
    border-radius: solid black;
}
    .card-body a{
        background-color: orange;
    }
.card-body h5{
    color: #bc8012;
}
 
 
 
 .money1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;


 }
 .money2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
 }
 .money3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
 }
 .money4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
 }
 .money5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
 }
 .money6{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
 }
 .money{
    color: green;
    font-size: xx-large;
 }
.cards:hover{
    transform: translate(30deg);
}



